.queuePage{

min-height:100vh;

display:flex;
flex-direction:column;
align-items:center;

background:linear-gradient(135deg,#38bdf8,#6366f1);

color:white;

padding:30px;

}

/* BACK BUTTON */

.backBtn{

align-self:flex-start;

background:#0f172a;

color:white;

padding:10px 18px;

border:none;

border-radius:8px;

cursor:pointer;

}

/* TITLE */

.title{

font-size:40px;

margin-bottom:30px;

}

/* STATS */

.statsGrid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(160px,1fr));

gap:20px;

width:100%;

max-width:700px;

margin-bottom:30px;

}

.statCard{

background:white;

color:black;

padding:20px;

border-radius:12px;

text-align:center;

}

.statCard h2{

font-size:32px;

}

.emergency{

background:red;

color:white;

}

/* NOW SERVING */

.nowServing{

background:white;

color:black;

padding:30px;

border-radius:12px;

text-align:center;

width:100%;

max-width:600px;

}

.servingCard h1{

font-size:70px;

}

/* QUEUE TITLE */

.queueTitle{

margin-top:40px;

font-size:32px;

}

/* QUEUE GRID */

.queueGrid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(160px,1fr));

gap:25px;

width:100%;

margin-top:25px;

}

/* CARD */

.queueCard{

background:#fde047;

color:black;

padding:20px;

border-radius:12px;

text-align:center;

position:relative;

}

.queueCard h2{

font-size:36px;

}

/* POSITION */

.position{

position:absolute;

top:8px;

left:10px;

font-size:14px;

font-weight:bold;

}

/* EMERGENCY */

.emergency{

background:red;

color:white;

animation:blink 1.5s infinite;

}

@keyframes blink{

0%{opacity:1}

50%{opacity:0.5}

100%{opacity:1}

}