.patientPage{

min-height:100vh;
padding:30px;

background:linear-gradient(135deg,#0ea5e9,#6366f1);

display:flex;
flex-direction:column;
align-items:center;

color:white;

}

/* BACK BUTTON */

.backBtn{

align-self:flex-start;

background:#1e293b;
color:white;

padding:10px 20px;

border:none;
border-radius:8px;

cursor:pointer;

}

/* TITLE */

.title{

font-size:36px;
margin:10px 0 20px 0;

}

/* FORM */

.formSection{

width:95%;

display:grid;

grid-template-columns:repeat(5,1fr);

gap:15px;

}

.formSection input,
.formSection select{

padding:12px;

border:none;

border-radius:10px;

font-size:16px;

}

/* BUTTONS */

.btnRow{

width:95%;

display:flex;

gap:20px;

margin-top:20px;

}

.normalBtn{

flex:1;

padding:14px;

background:#38bdf8;

border:none;

border-radius:12px;

font-size:18px;

cursor:pointer;

}

.emergencyBtn{

flex:1;

padding:14px;

background:red;

color:white;

border:none;

border-radius:12px;

font-size:18px;

cursor:pointer;

}

/* QUEUE TITLE */

.queueTitle{

margin-top:40px;

font-size:30px;

}

/* QUEUE GRID */

.queueContainer{

width:95%;

display:grid;

grid-template-columns:repeat(auto-fill,minmax(220px,1fr));

gap:25px;

margin-top:20px;

}

/* TOKEN CARD */

.tokenCard{

background:#22c55e;

color:white;

padding:20px;

border-radius:14px;

display:flex;

flex-direction:column;

align-items:center;

text-align:center;

min-height:190px;

}

/* EMERGENCY */

.tokenCard.emergency{

background:#dc2626;

}

/* TOKEN NUMBER */

.tokenCard h2{

font-size:40px;

margin-bottom:10px;

}

/* TEXT */

.tokenCard p{

margin:4px 0;

font-size:15px;

}

/* DELETE */

.deleteBtn{

margin-top:8px;

background:black;

color:white;

border:none;

padding:6px 12px;

border-radius:6px;

cursor:pointer;

}