.settingPage{

min-height:100vh;

background:linear-gradient(135deg,#0ea5e9,#6366f1);

display:flex;
flex-direction:column;
align-items:center;

padding:40px;

color:white;

}

.title{

font-size:36px;
margin-bottom:25px;

}

.settingBox{

width:380px;

display:flex;
flex-direction:column;

gap:14px;

background:#1e293b;

padding:25px;

border-radius:14px;

}

input,select{

padding:10px;

border:none;

border-radius:8px;

}

.resetBtn{

margin-top:10px;

background:red;

color:white;

padding:12px;

border:none;

border-radius:10px;

cursor:pointer;

}